.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 40rem;
  margin: 0;
  padding: 5.5rem 4rem;
}

.ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
}

.li {
  background-color: var(--color-white);
  color: var(--color-dark);
  /* padding: 0 0.5rem; */
  list-style: none;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: bold;
  border: 2px solid var(--color-primary-w-opacity);
}

.li a {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.li:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.li_invert {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.menuButton {
  z-index: 2;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  height: fit-content;
}

.menuButton:hover {
  color: var(--color-dark);
}

.menu {
  font-size: 2rem;
}

@media (max-width: 48rem) {
  .nav {
    width: 100vw;
    height: 32rem;
    padding: 3rem 1rem;
  }
}
