.section {
  padding: 0.5rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: 0.5rem;
  max-width: 64rem;
  width: 50%;
}

.full {
  flex: 1 0 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  order: +1;
}

.figure {
  position: relative;
  margin: 0;
  height: 16rem;
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 48rem) {
  .section {
    padding: 0.25rem;
    grid-gap: 0.25rem;
    max-width: 100%;
    width: 100%;
  }
}
