.table {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  margin: 0 auto;
  padding: 4rem;
}

.column {
  flex: 1;
  min-width: 15rem;
  margin: 1rem;
}

.title {
  font-family: var(--font-heading);
  font-weight: 800;
  text-transform: uppercase;
}

.list {
  padding: 0;
}

.item {
  list-style: none;
  font-weight: 500;
  padding-left: 1em;
  text-indent: -1em;
  text-transform: capitalize;
}

.item p {
  margin: 0;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: capitalize;
}

.button:hover {
  color: var(--color-primary);
}

@media (max-width: 48rem) {
  .table {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem;
  }

  .column {
    flex: 1;
    min-width: 15rem;
    margin: 0;
  }
}
