.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-white);
}

@media (max-width: 48rem) {
  .main {
    flex-direction: column;
  }
}
