.main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  padding: 4rem calc(6rem - 1rem);
}

@media (max-width: 48rem) {
  .main {
    flex-direction: column;
    padding: 4rem calc(2rem - 1rem);
  }
}
