.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-white);
}

.main section:nth-child(2n + 4) {
  order: +1;
}

@media (max-width: 48rem) {
  .main {
    flex-direction: column;
  }

  .main section:nth-child(2n + 4) {
    order: 0;
  }
}
