.hero {
  margin-left: 50vw;
  width: 50vw;
  height: 40rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
}

.title {
  margin: 0;
  padding: 3rem 0;
  font-size: 3rem;
  line-height: 2.5rem;
}

.message {
  margin: 0;
}

.message a:hover {
  color: var(--color-dark);
}

@media (max-width: 48rem) {
  .hero {
    margin: 0;
    margin-top: 32rem;
    width: 100vw;
    height: fit-content;
    padding: 3rem 1rem;
  }

  .title {
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
