.footer {
  position: relative;
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 4rem 1rem;
  align-items: center;
}

.figure {
  position: relative;
  width: 50%;
  height: 16rem;
  margin: 0;
}

.footer section {
  background-color: var(--color-dark);
}

.topButton {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  margin: 2rem;
  background-color: var(--color-white);
}
.topButton:hover {
  background-color: var(--color-primary);
}

@media (max-width: 48rem) {
  .footer {
    flex-direction: column;
    padding: 2rem 0;
    align-items: flex-start;
  }

  .figure {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
}
