.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
  border-radius: 100%;
  user-select: none;

  transform: translate(-50%, -50%);

  cursor: pointer;
}

.wrapper:hover {
  z-index: 1;
}

.p {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
  user-select: none;
  padding: 0.5rem;
  font-family: var(--font-heading);
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}
.p:hover {
  z-index: 1;
}
