:root {
  --font-body: Cutive Mono, Mukta, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-heading: Cookie, Damion, Boogaloo, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --space: 2rem;
  --flex: 1;
  --lg-height: 32rem;
  --sm-height: 10rem;
  --color-dark: #020202;
  --color-white: #d9d5ca;
  --color-primary: #ffdfb5;
}
@media (max-width: 48rem) {
  :root {
    --big-height: 20rem;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-primary);
  color: var(--color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0px solid red;
}
